<?xml version="1.0" encoding="UTF-8" ?>
<dataset title=" TIV of arms exports from all, 1950-2006  Source: SIPRI Arms Transfers Database " unit="year">
	<style></style>
	<timeseries>
	<%= yield  %>
	</timeseries>
</dataset>